.contenedor{
  width: 200px;
  height: auto;
  background-color: aliceblue;
  border: 1px solid black;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contenedor:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


img {
  width: 200px;
  height: 150px;
  align-content: center;
  border: 1px solid black;
  border-radius: 10px;
}

p{
  justify-content: center;
  text-align: center;
}
h3{
  text-align: center;
}
