@media only screen and (max-width: 1000px) {
  .opcion2 {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .opcion1 {
    display: flex;
  }
}

.nav-halloween {
  background-color: orange;
}

.example-spacer {
  flex: 1 1 auto;
}
.opcion1{
    cursor: pointer;
}
.opcion2{
    cursor: pointer;
}
.opcion:hover{
        font-weight: 700;
}
