.contendedor-root{
    width: 100%;
    height: 90%;
    background-color: antiquewhite;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}