.mensaje-error{
    color: rgb(165, 12, 12);
    size: small;
}
.contenedor-campo{
    display: flow-root;
    flex-direction: column;
    text-align: center;
}

.contenedor-campo {
    height: auto;
    width: auto;
    background-color: rgb(40, 168, 190);
}