.normal_mensaje-error{
    color: red;
    size: small;
}
.normal_contenedor-campo{
    display: flex;
    flex-direction: column;
    color: rgb(20, 18, 18);
}


:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  transition: background-image 0.5s ease-in-out;
}

form {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  margin: 40px auto;
}


.halloween_contenedor-campo{
    display: flex;
    flex-direction: column;
     color: #ffa31a !important;
}
.halloween_mensaje-error{
   color: #b30000;
   size: small;
}

::ng-deep .mdc-checkbox__background {
  border-color: #ff6600 !important;
}

::ng-deep .mdc-label {
  color: #ffa31a !important;
  text-shadow: 0 0 5px #ff6600;
}


.halloween-form  {
   background: rgba(20, 20, 20, 0.85);
  padding: 30px;
  border-radius: 15px;
  max-width: 500px;
  margin: 40px auto;
  box-shadow: 0 0 30px rgba(255, 140, 0, 0.6);
  border: 2px solid #ff6600;
  transition: all 0.5s ease;
}
.halloween-form button:hover {
  background-color: #ff9900;
  transform: scale(1.05);
}
.halloween-form button {
  background-color: #ff6600;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(255, 100, 0, 0.8);
}




